/*centered div*/
.c-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-family: 'Georgia', serif;
    text-align: center;
}

.myclass{
    background-color: #231e8a;
    width: 8rem;
    margin-left: 9rem;
    margin-bottom: 1rem;
    color: rgb(255, 240, 241);
    padding: 1rem;
    border-color: transparent;
    font-family: 'Georgia', serif;
}