<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    
    <div class="login-page">
        <div class="form" >
          <form class="login-form" action="" method="POST">
            {% csrf_token %}
            <h2>Admin Login</h2>
            {% if messages %}
            {% for message in messages %}
            <p class="message" style="color: red;">{{ message }}</p>
            {% endfor %}
            {% endif %}
            <input type="text" name="email" placeholder="Name"/>
            <input type="password" name="password" placeholder="password"/>
            <button type="submit">login</button>
            
          </form>
        </div>
      </div> 


</body>
<script src="{% static 'js/login.js' %}"></script>
</html>